* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%; /* Base de 16px */
  line-height: 1.5;
  scroll-behavior: smooth;
}

body {
  font-family: 'Arial', sans-serif;
  color: #333;
  background-color: #EAEAEA;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a {
  text-decoration: none;
  color: inherit;
}


ul, ol {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

button {
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
}
